<table class="table table-bordered">
    <tr>
        <th class="tbo">Sản phẩm khuyến mãi</th>
    </tr>                    
    <tr>
        <td>
            <div class="col-md-6 divscl divcenter"> 
                <img src="../assets/Images/Items/i1.jpg" /> <br />
                <span><a href="#">CHUỘT HAMSTER BEAR GẤU VÀNG MƠ</a></span>
                <img src="../assets/Images/sale.gif" /><br />
                <span>Giá cũ <span class="slt">170.000đ</span></span><br />
                <span>Giá mới <span class="sred">130.000đ</span> </span>
                <div>
                    <button class="btnchitiet">Chi tiết</button>
                    <button class="btnmuahang">Mua hàng</button>
                </div>                                
            </div>
            <div class="col-md-6 divscl divcenter">
                <img src="../assets/Images/Items/i2.jpg" /><br />
                <span><a href="#">CHUỘT HAMSTER BEAR VÀNG KHOANG TRẮNG</a></span>
                <img src="../assets/Images/sale.gif" /><br />
                <span>Giá cũ <span class="slt">150.000đ</span></span><br />
                <span>Giá mới <span class="sred">130.000đ</span> </span>
                <div>
                    <button class="btnchitiet">Chi tiết</button>
                    <button class="btnmuahang">Mua hàng</button>
                </div>
            </div>  
            <div class="col-md-6 divscl divcenter">
                <img src="../assets/Images/Items/i3.jpg" /> <br />
                <span><a href="#">CHUỘT HAMSTER BEAR VÀNG NÂU</a></span>
                <img src="../assets/Images/sale.gif" /><br />
                <span>Giá cũ <span class="slt">150.000đ</span></span><br />
                <span>Giá mới <span class="sred">130.000đ</span> </span>
                <div>
                    <button class="btnchitiet">Chi tiết</button>
                    <button class="btnmuahang">Mua hàng</button>
                </div>
            </div>
            <div class="col-md-6 divscl divcenter">
                <img src="../assets/Images/Items/i4.jpg" /><br />
                <span><a href="#">CHUỘT HAMSTER BEAR GẤU GHI XÁM</a></span>
                <img src="../assets/Images/sale.gif" /><br />
                <span>Giá cũ <span class="slt">150.000đ</span></span><br />
                <span>Giá mới <span class="sred">130.000đ</span> </span>
                <div>
                    <button class="btnchitiet">Chi tiết</button>
                    <button class="btnmuahang">Mua hàng</button>
                </div>
            </div> 
            <div class="col-md-6 divscl divcenter">
                <img src="../assets/Images/Items/i5.jpg" /> <br />
                <span><a href="#">CHUỘT HAMSTER BEAR GẤU PANDA ĐEN KHOANG TRẮNG</a></span>
                <img src="../assets/Images/sale.gif" /><br />
                <span>Giá cũ <span class="slt">150.000đ</span></span><br />
                <span>Giá mới <span class="sred">130.000đ</span> </span>
                <div>
                    <button class="btnchitiet">Chi tiết</button>
                    <button class="btnmuahang">Mua hàng</button>
                </div>
            </div>
            <div class="col-md-6 divscl divcenter">
                <img src="../assets/Images/Items/i6.jpg" /><br />
                <span><a href="#">NHÀ TẮM TÊN LỬA NHỎ CHO HAMSTER</a></span>
                <img src="../assets/Images/sale.gif" /><br />
                <span>Giá cũ <span class="slt">45.000đ</span></span><br />
                <span>Giá mới <span class="sred">35.000đ</span> </span>
                <div>
                    <button class="btnchitiet">Chi tiết</button>
                    <button class="btnmuahang">Mua hàng</button>
                </div>
            </div>                     
        </td>
    </tr>                    
</table>
<table class="table table-bordered">
    <tr>
        <th class="tbo">Sản phẩm mới cho chuột Hamster của bạn</th>
    </tr>
    <tr>
        <td>
            <div class="col-md-6 divscl divcenter">
                <img src="../assets/Images/Items/s1.jpg" /><br />
                <span><a href="#">LỒNG ỐNG CHẠY TƯỜNG MICA TRONG SUỐT - Căn nhà lộng lẫy rộng rãi siêu to cho cả gia đình chuột Hamster</a></span>
                <img src="../assets/Images/new.gif" /><br />
                <span>Giá mới <span class="sred">535.000đ</span> </span>
                <div>
                    <button class="btnchitiet">Chi tiết</button>
                    <button class="btnmuahang">Mua hàng</button>
                </div>
            </div>
            <div class="col-md-6 divscl divcenter">
                <img src="../assets/Images/Items/s2.jpg" /><br />
                <span><a href="#">LỒNG TRONG SUỐT BÓNG CHẠY 1 TẦNG CHO HAMSTER - Căn biệt thự sang chảnh cho gia đình Hamster</a></span>
                <img src="../assets/Images/new.gif" /><br />
                <span>Giá mới <span class="sred">295.000đ</span> </span>
                <div>
                    <button class="btnchitiet">Chi tiết</button>
                    <button class="btnmuahang">Mua hàng</button>
                </div>
            </div>
            <div class="col-md-6 divscl divcenter">
                <img src="../assets/Images/Items/s3.jpg" /><br />
                <span><a href="#">GỖ NÉN LÓT SÀN HAMSTER - Thích hợp cho Bear và thời tiết nóng bức</a></span>
                <br />
                <span>Giá cũ <span class="slt">25.000đ</span></span><br />
                <span>Giá mới <span class="sred">20.000đ</span> </span>
                <div>
                    <button class="btnchitiet">Chi tiết</button>
                    <button class="btnmuahang">Mua hàng</button>
                </div>
            </div>
            <div class="col-md-6 divscl divcenter">
                <img src="../assets/Images/Items/s4.jpg" /><br />
                <span><a href="#">CÁT SAN LÓT NỀN CHO CHUỘT HAMSTER - Tạo không gian mát mẻ thoải mái cho đàn Hamster</a></span>
                <img src="../assets/Images/hot.gif" /><br />
                <span>Giá mới <span class="sred">25.000đ</span> </span>
                <div>
                    <button class="btnchitiet">Chi tiết</button>
                    <button class="btnmuahang">Mua hàng</button>
                </div>
            </div>
            <div class="col-md-6 divscl divcenter">
                <img src="../assets/Images/Items/s5.jpg" /><br />
                <span><a href="#">MÙN THƠM LÓT NỀN CHO HAMSTER GÓI 500G</a></span>
                <br />
                <span>Giá mới <span class="sred">35.000đ</span> </span>
                <div>
                    <button class="btnchitiet">Chi tiết</button>
                    <button class="btnmuahang">Mua hàng</button>
                </div>
            </div>
            <div class="col-md-6 divscl divcenter">
                <img src="../assets/Images/Items/s6.jpg" /><br />
                <span><a href="#">MÙN CƯA NÉN LÓT SÀN CHO HAMSTER GÓI 1KG</a></span>
                <br />
                <span>Giá mới <span class="sred">47.000đ</span> </span>
                <div>
                    <button class="btnchitiet">Chi tiết</button>
                    <button class="btnmuahang">Mua hàng</button>
                </div>
            </div>
            <div class="col-md-6 divscl divcenter">
                <img src="../assets/Images/Items/s7.jpg" /><br />
                <span><a href="#">NHÀ GỖ BÁNH XE CHO CHUỘT HAMSTER - Vừa là căn nhà ấm cúng vừa là món đồ chơi hấp dẫn cho các bé Hammy</a></span>
                <img src="../assets/Images/hot.gif" /><br />
                <span>Giá mới <span class="sred">95.000đ</span> </span>
                <div>
                    <button class="btnchitiet">Chi tiết</button>
                    <button class="btnmuahang">Mua hàng</button>
                </div>
            </div>
            <div class="col-md-6 divscl divcenter">
                <img src="../assets/Images/Items/s8.jpg" /><br />
                <span><a href="#">LỒNG TRONG SUỐT BÓNG CHẠY 1 TẦNG CHO HAMSTER - Căn biệt thự sang chảnh cho gia đình Hamster</a></span>
                <img src="../assets/Images/new.gif" /><br />
                <span>Giá mới <span class="sred">295.000đ</span> </span>
                <div>
                    <button class="btnchitiet">Chi tiết</button>
                    <button class="btnmuahang">Mua hàng</button>
                </div>
            </div>
            <div class="col-md-6 divscl divcenter">
                <img src="../assets/Images/Items/s9.jpg" /><br />
                <span><a href="#">BÁNH XE CHẠY ĐA NĂNG KHỔNG LỒ 21CM - Chiếc bánh xe khổng lồ cho Hamster</a></span>
                <img src="../assets/Images/new.gif" /><br />
                <span>Giá mới <span class="sred">225.000đ</span> </span>
                <div>
                    <button class="btnchitiet">Chi tiết</button>
                    <button class="btnmuahang">Mua hàng</button>
                </div>
            </div>
            <div class="col-md-6 divscl divcenter">
                <img src="../assets/Images/Items/s10.jpg" /><br />
                <span><a href="#">ĐÀI QUAN SÁT GỖ CHO CHUỘT HAMSTER - Tháp canh phòng cẩn mật cho ngôi nhà an toàn</a></span>
                <img src="../assets/Images/hot.gif" /><br />
                <span>Giá mới <span class="sred">65.000đ</span> </span>
                <div>
                    <button class="btnchitiet">Chi tiết</button>
                    <button class="btnmuahang">Mua hàng</button>
                </div>
            </div>
        </td>
    </tr>
</table>


