<form class="box login">
	
	<fieldset class="boxBody">
		<h1 style="font-weight: bold; text-align: center; font-size: medium;">ĐĂNG NHẬP</h1>
	  <label>Tên đăng nhập</label>
	  <input type="text" tabindex="1" placeholder="Nhập tên đăng nhập" required>
	  <label><a href="#" class="rLink" tabindex="5">Quên mật khẩu?</a>Mật khẩu</label>
	  <input type="password" tabindex="2" placeholder="Nhập mật khẩu" required>
	</fieldset>
	<footer>
	  <label><input type="checkbox" tabindex="3">Lưu đăng nhập</label>
	  <input type="submit" class="btnLogin" value="Đăng nhập" tabindex="4">
	</footer>
</form>