<table class="table table-bordered">
    <tr>
        <th class="tbo">Thông tin - Tìm hiểu về chuột Hamster</th>
    </tr>
    <tr>
        <td>
            <table class="thongtin">
                <tr>
                    <td>
                        <a href="#">Thuyết phục bố mẹ cho phép bạn được nuôi một bé Hamster.</a><br />
                        <img src="../assets/Images/Informations/tt1.png" /><span>Bạn đang lên kế hoạch nuôi một bé Hamster đáng yêu? Bạn đã có những dự định tuyệt vời với bé Hamster mình sẽ có trong tương lai? Công việc bây giờ chỉ còn là cố gắng thuyết phục cha mẹ của bạn cho phép bạn được nuôi ít nhất 1 bé Hamster.</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">Làm thế nào để chăm sóc cho Hamster mang thai của bạn.</a><br />
                        <img src="../assets/Images/Informations/tt5.png" /><span>Nếu bạn có một bé hamster đang mang thai, bạn sẽ cần phải chăm sóc đặc biệt cho nó để đảm bảo rằng có thể sinh sản một cách khoẻ mạnh. Kiểm tra lồng nuôi, thức ăn và quá trình sinh nở .</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">Hướng dẫn cách chăm sóc hamster hàng ngày</a><br />
                        <img src="../assets/Images/Informations/tt4.png" /><span>Chuột hamster là con vật rất đáng yêu và cũng rất dễ nuôi, mình sẽ tổng hợp lại các bước nuôi, chăm sóc hamster hàng ngày cho các bạn mới làm quen.</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">Phong trào nuôi và hâm mộ chuột Hamster tại Việt Nam và thế giới.</a><br />
                        <img src="../assets/Images/Informations/tt3.png" /><span>Không chỉ các bạn tuổi teen, học sinh, sinh viên, mà những bạn đã đi làm và cả các bậc phụ huynh nữa đều yêu thích chú chuột nhỏ dễ thương này...</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">Chuột Hamster bản chất là loài vật sạch sẽ, không mang mầm bệnh và không gây nguy hại cho con người.</a><br />
                        <img src="../assets/Images/Informations/tt2.png" /><span>Nhờ các đặc tính sinh học ổn định, sạch bệnh đó mà chuột Hamster được nghiên cứu, mang lại nhiều cống hiến lớn cho khoa học.</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">Nguồn gốc, quê hương của chuột Hamster.</a><br />
                        <img src="../assets/Images/Informations/tt6.jpg" /><span>Vào năm 1839, trong báo cáo của nhà động vật học người Anh, George Waterhous đã tìm được một con hamster cái già ở Syria...</span>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>