
    <div class="gioithieu">        
        <div>
            <img width="100%" src="../assets/Images/banner1.jpg" />
            <p id="d1">Cửa hàng bán chuột Hamster giá rẻ nhất, đảm bảo thuần chủng 100% - Sản Phẩm Sáng Tạo .com | 244 Kim Mã, Hà Nội - 04.22150808</p><hr style="height:1px;border-width:0;color:black;background-color:black">
            <a href="#"><p style="color: orange;font-weight:bold; font-size:16px;">Cửa hàng bán chuột Hamster giá rẻ nhất, đảm bảo thuần chủng 100% - Sản Phẩm Sáng Tạo .com | 244 Kim Mã, Hà Nội - 024.22150808</p></a>
            <p style="text-align:justify">
                Là địa chỉ bán rẻ nhất, đa dạng nhất các giống chuột hamter thuần chủng và các loại thức ăn, lồng nhà, phụ kiện, đồ chơi cho chuột hamter. Cùng với việc sở hữu các đàn chuột hamter giống khỏe mạnh, thuần chủng và xứng đáng được coi là những chú chuột đẹp nhất trên thị trường hiện tại, cửa hàng đảm bảo mang đến cho khách hàng và các đối tác phân phối bán buôn (bán sỉ) những chú chuột Hamter tuyệt vời nhất, liên tục và ổn định ngay cả với số lượng lớn...
                Hơn cả, đối với tất cả các khách hàng, giá bán chuột Hamter, các loại thức ăn, lồng nhà, đồ chơi, phụ kiện, vật dụng... cửa hàng cung cấp đều đảm bảo mức giá rẻ nhất, cạnh tranh chất Hà Nội hiện nay...
            </p>
            <a style="float:right" href="#">-Xem chi tiết-</a>
        </div>
    </div>
