<table class="table table-bordered">
    <tr>
        <th class="tbo">Hướng dẫn cách nuôi và chăm sóc chuột Hamster</th>
    </tr>
    <tr>
        <td>
            <table class="huongdan">
                <tr>
                    <td>
                        <a href="#">Phân loại Hamster cơ bản và phổ biến nhất.</a><br />
                        <img src="../assets/Images/Informations/h1.jpg" /><span>Có rất nhiều loại Hamster khác nhau, nhưng thường chia làm 2 dòng chính là: Syrian Hamster (Bear) và Dwarf Hamster. Trong đó có 5 loại chính là: Syrian Hamster (Bear gấu), Campbell, Winter White, Roborovski và Chinese Hamster.</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">Hướng dẫn ghép cặp một bé hamster mới với bé hamster bạn nuôi đã lâu.</a><br />
                        <img src="../assets/Images/Informations/h2.jpg" /><span>Nếu bạn đã có một bé hamster (Campbell, Winter White và Robo) và muốn nuôi thêm một em hamster mới nữa, điều này là có thể. Hãy xem bài viết này để bạn có thể cho hai bé Hamster sống cùng nhau mà không gặp khó khăn gì!</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">Hướng dẫn cách chăm sóc hamster hàng ngày</a><br />
                        <img src="../assets/Images/Informations/h3.jpg" /><span>Chuột hamster là con vật rất đáng yêu và cũng rất dễ nuôi, mình sẽ tổng hợp lại các bước nuôi, chăm sóc hamster hàng ngày cho các bạn mới làm quen.</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">Hướng dẫn: LÀM THẾ NÀO GIỮ ẤM CHO HAMSTER TRONG MÙA ĐÔNG LẠNH GIÁ.</a><br />
                        <img src="../assets/Images/Informations/h4.jpg" /><span>Như các bạn đã biết, Hamster là loài sống ở môi trường khô và lạnh trong tự nhiên, điều đó có nghĩa là chúng không thích nhiệt độ quá cao, đặc biệt ở nước nhiệt đới như Việt Nam. Tuy nhiên, nếu như nhiệt độ xuống quá thấp vào mùa đông...</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">Hướng dẫn trị chứng mắt dính liền của hamster.</a><br />
                        <img src="../assets/Images/Informations/h5.jpg" /><span>Khi hamster ngủ, mắt của chúng tiết ra chất lỏng để giữ cho nhãn cầu ẩm. Nếu chất lỏng này nhễu ra và khô lại xung quanh mí mắt, nó có thể khiến các bé hamster không mở được mí mắt. Điều này khá là phổ biến với hamster, đặc biệt...</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">Hướng dẫn huấn luyện hamster đi vệ sinh đúng chỗ.</a><br />
                        <img src="../assets/Images/Informations/h11.jpg" /><span>Làm thế nào để huấn luyện cho bé hamster đi vệ sinh đúng nơi đúng chỗ?</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">Hướng dẫn: Các dấu hiệu nhận biết và chăm sóc Hamster mang thai (Phần 1)</a><br />
                        <img src="../assets/Images/Informations/h6.jpg" /><span>Bạn nhận ra một số dấu hiệu bất thường từ bé hamster đã diễn ra trong vài ngày gần đây. Rất có thể nguyên nhân là bé sắp sinh baby, bài viết này sẽ giúp bạn nhận biết những dấu hiệu đầu tiên và cách chăm sóc cho hamster sắp sinh con.</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">Hướng dẫn: Các dấu hiệu nhận biết và chăm sóc Hamster mang thai (Phần 2)</a><br />
                        <img src="../assets/Images/Informations/h7.jpg" /><span>Bạn nhận ra một số dấu hiệu bất thường từ bé hamster đã diễn ra trong vài ngày gần đây. Rất có thể nguyên nhân là bé sắp sinh baby, bài viết này sẽ giúp bạn nhận biết những dấu hiệu đầu tiên và cách chăm sóc cho hamster sắp sinh ...</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">Bạn nên biết: Giữ cho Hamster mát mẻ trong mùa Hè nắng nóng</a><br />
                        <img src="../assets/Images/Informations/h8.png" /><span>Một mùa Hè nữa lại đang về cùng với không khí oi bức và nắng nóng kéo dài. Nếu thời tiết quá nóng, hamster của bạn có thể bị mất nước hoặc bị sốc nhiệt...</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">Hướng dẫn chăm sóc từ A đến Z khi Hamster của bạn sinh sản</a><br />
                        <img src="../assets/Images/Informations/h9.png" /><span>Mặc dù thực tế rằng hamster bé khi mới sinh ra bị điếc, mù, và không có lông, chúng vẫn là những sinh vật bé nhỏ vô cùng dễ thương. Bất kể bạn đồng ý với điều này hay không, nếu bé hammy yêu quý của bạn đã mang thai, bạn sẽ cần phải...</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">Làm thế nào để bế một bé hamster lên một cách an toàn cho người mới nuôi.</a><br />
                        <img src="../assets/Images/Informations/h10.png" /><span>Hamster là người bạn nhỏ bé đáng yêu và cũng rất nhạy cảm, vì thế để có được sự tin tưởng và thuần hoá được các bé thì bạn cần phải có tấm lòng yêu thương và sự kiên nhẫn...</span>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>